POSTGRES_DB=gls_management
POSTGRES_USER=gls
POSTGRES_PASSWORD=gls_local
SPRING_PROFILES_ACTIVE=local
OIDC_ISSUER_URI=http://localhost:8180/realms/ltft
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_local
VITE_OIDC_AUTHORITY=http://localhost:8180/realms/ltft
VITE_OIDC_CLIENT_ID=ltft-web
KEYCLOAK_BASE_URL=http://localhost:8180
KEYCLOAK_REALM=ltft
KEYCLOAK_JML_CLIENT_ID=ltft-jml-service
KEYCLOAK_JML_CLIENT_SECRET=local-jml-secret-change-me
VIES_BASE_URL=https://ec.europa.eu/taxation_customs/vies/rest-api
VIES_CONNECT_TIMEOUT=3s
VIES_READ_TIMEOUT=5s
VIES_MAX_CONCURRENT_REQUESTS=4
